/*cambia el color del fondo del jumbotron*/
.jumbotron {
	background-color: #FFCC66;
}

/*ubica el menú inferior en el centro*/
.center-pills {
    display: flex;
    justify-content: center;
}

/*ajusta el tamaño del carousel en la página*/
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
  width: 70%;
  height: 20%;
  margin: auto;
}